<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bhavishya Narravula</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Floating Background Shapes -->
    <div class="floating-shapes">
        {% for i in range(20) %}
        <span style="left: {{ loop.index0 * 5 }}vw; animation-delay: {{ loop.index0 * 0.5 }}s;"></span>
        {% endfor %}
    </div>


    <nav>
        <div class="container">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/skills">Skills</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Bhavishya Narravula</p>
    </footer>
</body>
</html>
