{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I’m Bhavishya, a student at Michigan State University with a passion for learning and exploring new ideas.
          Whether I’m diving into tech projects, discovering creative outlets, or sharing my experiences as a student,
          this blog is my space to document it all. Join me as I navigate college life,
          grow my skills, and share insights that might inspire or help you along the way!

        </p>
        <p>
         Outside of academics, I have a deep love for dancing—it’s my way of expressing myself and staying energized.
          I also enjoy getting lost in books, as reading opens up new worlds and perspectives for me.
          Lately, I’ve been thinking about starting a career in journalism, which excites me because it combines my curiosity with storytelling.
          Cooking is another passion of mine; experimenting in the kitchen allows me to unwind and be creative in a different way.
          Through this blog, I want to share all these interests, and much more, as I continue to learn and grow.
        </p>
        <p>
          Fun Facts:

          I can get lost for hours in a good book, but I’ll still dance my heart out to my favorite songs without missing a beat.
          I’m an aspiring journalist who loves asking questions—sometimes way too many!
          Cooking experiments don’t always turn out perfect, but they always make for great stories (and sometimes tasty meals).
          Thinking is one of my favorite pastimes—sometimes so much that I forget to blink!



        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
